/* stylelint-disable no-missing-end-of-source-newline */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
}

body {
  background-color: #61dafb;
}

.container {
  padding: 20px 8%;
}

.Nav-bar{
  max-width: 200px;
  background-color:#1010c0; 
}

.Menu-bar{
  width:30%;
}