/* stylelint-disable no-missing-end-of-source-newline */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
}

:root {
  --light-blue: #2edffe;
  --light-green: #07e777;
}

body {
  background: var(-light-blue);
  letter-spacing: 0.2rem;
}

.container {
  padding: 20px 8%;
}

.Nav-bar{
  max-width: 480px;
  height: 100vh;
  background-color:#08838ef0;
  padding-top: 5%;
  padding-left: 5%;
}

.Menu-bar {
  width: 15%;
}

.Menu-bar img {
  color: #fff;
}

.close {
  width: 70px;
  padding-left: 5%;
  padding-top: 5%;
  /* position: absolute; */
}

.not-active {
  display: none;
}

.Menu-links {
  color: #07e777;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  margin-top: 80%;
  padding-left: 5%;
}

.Menu-links li {
  margin-bottom: 40px;
}

.header {
  display: flex;
  margin-top: 40vh;
  justify-content: center;
  font-size: 7rem;
  font-weight: 600;
  color: #cecece;
}